.ticket-info {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


  .ticket-info .winner-text {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: green;
  }
  
  /* Estilos para el mensaje "Ticket No Ganador" */
  .ticket-info .not-winner-text {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: red;
  }
  
  /* Estilos para el monto total del ticket ganador */
  .ticket-info .winner-amount {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: green;
  }
  
  /* Estilos para el monto total del ticket no ganador */
  .ticket-info .not-winner-amount {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  /* Estilos para el título "Lottery Numbers" */
  .ticket-info h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el mensaje "Ticket Ganador" */
 
  
  /* Estilos para las secciones de información */
  .ticket-info p {
    margin-bottom: 5px;
  }
  
  /* Estilos para los números y apuestas */
  .ticket-info .ticket-numbers {
    margin-top: 10px;
  }
  
  /* Estilos para la línea divisoria */
  .ticket-info hr {
    border: 0.5px solid #ccc;
    margin: 15px 0;
  }



  .ticket-info .ticket-numbers table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .ticket-info .ticket-numbers th,
  .ticket-info .ticket-numbers td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .ticket-info .ticket-numbers th {
    background-color: #f2f2f2;
  }
  
  .ticket-info .ticket-numbers th:first-child,
  .ticket-info .ticket-numbers td:first-child {
    text-align: center;
  }

  .btForm {
    display: flex;
    justify-content: center;
}

.btForm button {
  margin-top: 10px;
  background-color: #005643;
  color:white;
  padding: 14px;
  border-radius: 20px;
  font-family: 'Plexus Sans', sans-serif;   
  font-weight: 700;
}
.btForm button:hover {
  /* Estilos para los botones dentro de elementos con la clase btForm cuando se pasa el mouse por encima */
  /* Por ejemplo, puedes cambiar el color de fondo o el color del texto al pasar el mouse */
  background-color: #090909;
  color: #ffffff;
  /* ...otros estilos... */
}

.btFormDis {
    display: flex;
    justify-content: center;
}
.btFormDis button {
  background-color: lightgray;
  color:gray;
  padding: 14px;
  border-radius: 20px;
  font-family: 'Plexus Sans', sans-serif;   
  font-weight: 700;
}

.filtroPayment{
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.inputValidation{

  background-color: #d1efe9;

}