@media (max-width: 768px) {

    
    .tabla-clientes th:nth-child(6),
    .tabla-clientes td:nth-child(6)  {
      display: none;
    }


    .tabla-clientes {
        font-size: 0.7em;
    }
  }
  

  @media (max-width: 768px) {
    .tabla-tickets th:nth-child(4),
    .tabla-tickets td:nth-child(4),
    .tabla-tickets th:nth-child(5),
    .tabla-tickets td:nth-child(5)  {
      display: none;
    }


    .tabla-tickets {
        font-size: 0.7em;
    }
  }