* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .button2 {
      background-color: #00ff0d;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid rgba(232, 232, 232, 0.233);
    
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #eeeded
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #35c3c1;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #35c3c1;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #35c3c1;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #35c3c1;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.5em;
  }
  
  .fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      rgba(36, 46, 77, 0.9),
      rgba(137, 126, 121, 0.9)
    );
 
    z-index: -1;
  }
  
  .loginForm {
    width: 100%;
    padding: 2em;
    position: relative;
    background-color: rgba(0, 0, 0, 0.377);
  }
  
  .loginForm::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      #35c3c1,
      #00d6b7
    );
  }
  
  @media screen and (min-width: 600px) {
    .loginForm {
      width: 50vw;
      max-width: 15em;
    }
  }
  
  .flexRow {
    display: flex;
    margin-bottom: 1em;
  }
  
  .lfLabel {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f6f8;
    cursor: pointer;
    font-size: small;
  }
  .lfInput {
    flex: 1;
    padding: 1em;
    border: 0;
    color: #646464;
  }
  
  .lfInput:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
  
  .Submit {
    display: block;
    padding: 1em;
    width: 100%;
    background: linear-gradient(
      to right,
      #35c3c1,
      #00d6b7
    );
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  
  
  }
  
  .lfForgot {
    margin-top: 1em;
    color: #00d6b696;
    font-size: 0.65em;
    text-align: center;
    position: relative;
  }
  
  ::placeholder {
    color: #000000;
  }

